.App {
  text-align: center;
}

.home-container {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 300px;
  letter-spacing: 15px;
  background-size: 60%;
}

.name-title{
  width: 98%;
  margin-top: 3%;
  text-align: center;
  align-self: center;
  margin-bottom: 20px;
}

.my-photo{
  height: 250px;
  width: 250px;
  align-self: center;
  background-image: url('./photo/me.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 150px;
  margin: 0 auto;
}

.name {
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  font-size: 5vw;
  padding: 20px;
  margin-bottom: 10vh;
}

.email {
  font-size: 19px;
  margin-top: 10vh;
  letter-spacing: 0.5px;
}

.options {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-weight: 300;
}

.options a {
  padding: 15px;
  font-size: 35px;
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}

.options a:hover{
  color: red;
}
@media only screen and (min-width: 1800px) {
  .name {
    font-size: 90px;
  }
}
@media only screen and (max-width: 450px) {
  .home-container {
    display: flex;
    align-items: center;
  }
}
@media only screen and (width: 320px) {
  .home-container {
    display: flex;
    align-items: center;
  }
  .my-photo {
    margin: 0;
  }
  .name-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}